/webroot/src/default.dic.lnk
/webroot/src/db_fns.php
/config.php
/Database_tools_backup/
/nbproject/
/configlocal.php
/tests/acceptance/SigninCest.php
/classes/pear/
/classes/Mail/
/Mail/
/.codelite/
/GCASTimesheet.workspace