language:   php
php:
    - '7.0'
    
env:
    - MYSQL_HOST=127.0.0.1 MYSQL_USER=root
    
services:
  - mysql
  
before_script: ./tests/setup_mysql.php
script: ./tests/integration_test.php

composer:   install

email:      pavulon@hotmail.com
name:       Jim Baize